body {
  background: black;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
p {
  margin: 0;
}
.App {
  background-color: rgba(255, 255, 255, 0.945);
  width: 600px;
  height: 600px;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.game-name {
  font-weight: 600;
  color: rgb(94, 94, 245);
  margin-block-end: 0;
}
.game-description {
  font-weight: 400;
  font-size: 20px;
}
.start-button {
  margin-top: 20px;
  width: 100px;
}

.test {
  width: 95%;
  height: 85%;
  padding: 20px;
  overflow: auto;
}
.answers-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 10px;
}

input[type="radio"] {
  display: none;
  cursor: pointer;
}
/* answer box */
label {
  min-width: 230px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
}
/* highlight selected label */
input[type="radio"]:checked + label {
  border: 3px solid rgb(107, 201, 111);
}
.submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.wrong-selection {
  background-color: rgb(235, 62, 62);
  opacity: 90;
  border: 0 !important ;
}
.correct-selection {
  border: 0 !important ;
  background-color: rgb(85, 231, 85);
  opacity: 90;
}
.hide-button {
  display: none;
}
